Decision making is an essential concept in any programming language and is required when you want to execute code when a specific condition is satisfied

In [3]:
a = 20
if a > 50 :
  print('This is the if Body')
  print("This is line1")
print('This is outside the block')

This is outside the block

Type Casting

In [7]:
a =  input('Enter  a number')
type(a)

Enter  a number100

str

In [8]:
b = int(a)
type(b)

int

In [10]:
a = int(input('Enter a number'))

if(a > 20):
  print("Greater than 20")
elif(a < 20):
  print("Less than 20")
else:
  print("Equal to 20")

Enter a number20
Equal to 20

In [4]:
a = 60
if a > 50 :
  print('This is the if Body')

print('This is outside the block')

This is the if Body
This is outside the block

IF-ELSE

In [ ]:
i = 20
if i % 2==0:
  print('this is the if block')
  print(' even')
else:
  print('this is the else block')
  print('odd')

this is the if block
 even

In [ ]:
i = 23
if i % 2==0:
  print('this is the if block')
  print(' even')
else:
  print('this is the else block')
  print('odd')

this is the else block
odd

Nested IF

In [ ]:
c = 21
if c < 25 :
  if c % 2 ==0:
    print('c is even and less than 25')
  else:
    print('c is odd and less than 25')
else:
  print('c is greater than 25')

c is odd and less than 25

In [ ]:
c = 21
if c < 25 and c % 2 == 0:
  print('c is even and less than 25')
elif c < 25 and c % 2 != 0:
  print('c is odd and less than 25')
else:
  print('c is greater than 25')

In [ ]:
c = 50
if c < 25 :
  if c % 2 ==0:
    print('c is even and less than 25')
  else:
    print('c is odd and less than 25')
else:
  print('c is greater than 25')

c is greater than 25

If-Elif-else Statement

In [ ]:
var = 'z'

if var =='a':
  print('var is a')
elif var =='b':
  print('var is b')
else:
  print('var is not a or b')

var is not a or b

Problem 1 :
Write a program to check wheather a number is divisible by 7 or not

In [11]:
a = int(input())

if a % 7 == 0 :
  print("Yes")
else:
  print("No")

12
No

In [ ]:

num = int(input("Enter a number: "))
if num % 7 == 0:
  print("The number is divisible by 7")
else:
  print("The number is not divisible by 7")

Enter a number: 10
The number is not divisible by 7

Problem 2 : Write a program to accept percentage from the user and display the grade according to the following criteria:
![1.PNG]()

In [12]:
num = int(input())

if num > 90:
  print("A")
elif num > 80 and num <=90:
  print("B")
elif num >= 60 and num <= 80:
  print("C")
else :
  print("D")

55
D

In [ ]:


marks = int(input("Enter your marks: "))

if marks > 90:
  grade = "A"
elif marks > 80 and marks <= 90:
  grade = "B"
elif marks >= 60 and marks <= 80:
  grade = "C"
else:
  grade = "D"

print("Your grade is:", grade)

Enter your marks: 90
Your grade is: B

Problem 3 : Accept Tempareture in degreer celcius of water and check wheather it is boiling or not ( boiling point of water is 100 degree)

In [ ]:


temperature = float(input("Enter temperature in degree Celsius: "))

if temperature >= 100:
  print("Water is boiling.")
else:
  print("Water is not boiling.")

Enter temperature in degree Celsius: 100
Water is boiling.

Problem 4: Find the largest and smallet number among 3 user entered number

In [13]:
a = 10
b = 20
c = 25

if a > b and a > c:
  print(a)
elif b > a and b > c :
  print(b)
else :
  print(c)

25

In [14]:
a = 10
b = 20
c = 25

if a < b and a < c:
  print(a)
elif b < a and b < c :
  print(b)
else :
  print(c)

10

In [15]:
if a > b :
   if a > c:
    print(a)
   else:
    print(c)

else:
   if b > c :
    print(b)
   else:
    print(c)

25

In [ ]:


num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

largest = num1
if num2 > largest:
  largest = num2
if num3 > largest:
  largest = num3

smallest = num1
if num2 < smallest:
  smallest = num2
if num3 < smallest:
  smallest = num3

print("The largest number is:", largest)
print("The smallest number is:", smallest)

Enter first number: 12
Enter second number: 120
Enter third number: 11
The largest number is: 120
The smallest number is: 11

 Write a Python program that takes a single character input from the user and checks whether the character is a vowel or a consonant. The program should also handle invalid inputs (e.g., numbers, symbols).

In [18]:
char = input()

print(char)

provAth
provAth

In [19]:
char = char.lower()
print(char)

provath

In [20]:
char = char.upper()
print(char)

PROVATH

In [22]:
# Take input from the user
char = input("Enter a character: ").lower()

Enter a character: 123

In [27]:
char = 'z'

In [28]:
char.isalpha()

True

In [29]:
print(char in 'Provath')

False

In [30]:
char = 10
print(char)

10

In [31]:
print("This is %s" %char)

This is 10

In [33]:
age = 20

In [34]:
print(f'This is {char}. His age is {age}')

This is 10. His age is 20

In [ ]:
# Take input from the user
char = input("Enter a character: ").lower()

# Check if the character is a letter
if len(char) == 1 and char.isalpha():
    if char in 'aeiou':
        print(f"{char} is a vowel.")
    else:
        print(f"{char} is a consonant.")
else:
    print("Invalid input. Please enter a single alphabetic character.")

 Write a Python program that checks whether a given year is a leap year. A year is a leap year if:

It is divisible by 4, and
It is not divisible by 100, unless it is also divisible by 400.

In [ ]:
# Take input from the user
year = int(input("Enter a year: "))

# Check if the year is a leap year
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

In [ ]:
name = "Alice"
age = 30
print(f"{name} is {age} years old.")

Alice is 30 years old.

In [ ]:
x = 10
y = 5
print(f"The sum of {x} and {y} is {x + y}.")

The sum of 10 and 5 is 15.

Create a simple ATM banking system using Python that asks for the user's PIN, checks if it is correct, and then offers the user the option to:

Check balance

Deposit money

Withdraw money

Exit

In [36]:
# Predefined PIN and balance
correct_pin = "1234"
balance = 5000

# Ask user for PIN
pin = input("Enter your PIN: ")

# Check if the PIN is correct
if pin == correct_pin:
    while True:
        print("\nATM Menu:")
        print("1. Check Balance")
        print("2. Deposit Money")
        print("3. Withdraw Money")
        print("4. Exit")

        choice = input("Select an option (1/2/3/4): ")

        if choice == '1':
            print(f"Your balance is: ${balance}")
        elif choice == '2':
            deposit = float(input("Enter amount to deposit: $"))
            balance += deposit
            print(f"Deposit successful. New balance: ${balance}")
        elif choice == '3':
            withdrawal = float(input("Enter amount to withdraw: $"))
            if withdrawal > balance:
                print("Insufficient balance.")
            else:
                balance -= withdrawal
                print(f"Withdrawal successful. New balance: ${balance}")
        elif choice == '4':
            print("Thank you for using the ATM. Goodbye!")
            break
        else:
            print("Invalid option. Please try again.")
else:
    print("Incorrect PIN. Access denied.")

Enter your PIN: 1234

ATM Menu:
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Select an option (1/2/3/4): 1
Your balance is: $5000

ATM Menu:
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Select an option (1/2/3/4): 3
Enter amount to withdraw: $300
Withdrawal successful. New balance: $4700.0

ATM Menu:
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Select an option (1/2/3/4): 2
Enter amount to deposit: $10
Deposit successful. New balance: $4710.0

ATM Menu:
1. Check Balance
2. Deposit Money
3. Withdraw Money
4. Exit
Select an option (1/2/3/4): 4
Thank you for using the ATM. Goodbye!

Write a Python program that asks the user to enter two numbers and choose an operation to perform on them. The program should support addition, subtraction, multiplication, and division. If the user chooses division, ensure that division by zero is handled.

In [37]:
# Get user input for numbers and operation
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operation = input("Choose an operation (+, -, *, /): ")

# Perform the chosen operation
if operation == "+":
    result = num1 + num2
elif operation == "-":
    result = num1 - num2
elif operation == "*":
    result = num1 * num2
elif operation == "/":
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error: Division by zero is not allowed."
else:
    result = "Invalid operation!"

# Display the result
print(f"Result: {result}")

Enter the first number: 10
Enter the second number: 10
Choose an operation (+, -, *, /): /
Result: 1.0

Write a Python program that calculates the Body Mass Index (BMI) for a given weight (in kg) and height (in meters). The program should classify the BMI into the following categories:

BMI < 18.5: Underweight

18.5 <= BMI < 24.9: Normal weight

25 <= BMI < 29.9: Overweight

BMI >= 30: Obesity

In [ ]:
# Take user input for weight and height
weight = float(input("Enter your weight (in kg): "))
height = float(input("Enter your height (in meters): "))

# Calculate BMI
bmi = weight / (height ** 2)

# Classify BMI
if bmi < 18.5:
    classification = "Underweight"
elif 18.5 <= bmi < 24.9:
    classification = "Normal weight"
elif 25 <= bmi < 29.9:
    classification = "Overweight"
else:
    classification = "Obesity"

# Display the result
print(f"Your BMI is {bmi:.2f}. You are classified as: {classification}.")

Enter your weight (in kg): 72
Enter your height (in meters): 62
Your BMI is 0.02. You are classified as: Underweight.

Write a Python program that asks the user to input the name of a month (e.g., "January") and returns the corresponding month number (e.g., 1 for January). If the input is invalid, the program should print an error message.

In [ ]:
# Take user input for the month name
month_name = input("Enter the name of the month: ").lower()

# Map month names to month numbers
month_dict = {
    "january": 1, "february": 2, "march": 3, "april": 4,
    "may": 5, "june": 6, "july": 7, "august": 8,
    "september": 9, "october": 10, "november": 11, "december": 12
}

# Check if the input month is valid
if month_name in month_dict:
    print(f"The month number for {month_name.capitalize()} is {month_dict[month_name]}.")
else:
    print("Invalid month name. Please enter a valid month.")

Enter the name of the month: july
The month number for July is 7.

Write a Python program that checks the strength of a password based on the following criteria:

It must be at least 8 characters long.

It must contain both uppercase and lowercase characters.

It must contain at least one numeric digit.

It must contain at least one special character (e.g., @, #, $, %, etc.).

The program should print whether the password is strong, weak, or invalid.

In [ ]:
import re

# Take input from the user
password = input("Enter your password: ")

# Check password strength
if len(password) < 8:
    print("Password is too short. It must be at least 8 characters long.")
elif not re.search("[a-z]", password):
    print("Password must contain at least one lowercase letter.")
elif not re.search("[A-Z]", password):
    print("Password must contain at least one uppercase letter.")
elif not re.search("[0-9]", password):
    print("Password must contain at least one digit.")
elif not re.search("[@#$%^&+=]", password):
    print("Password must contain at least one special character (@, #, $, %, ^, &, +, =).")
else:
    print("Password is strong.")

Enter your password: 12
Password is too short. It must be at least 8 characters long.