In [ ]:
pin = "1234"

balance = 500

upin = input()

if pin == upin:
  while True:
   print("1. For check balance \n")
   print("2 For deposite\n")
   print("3 For withdawal")
   print("4 Exit")

   choice = int(input())

   if choice == 1 :
     print(f'Your balance is {balance}\n')
   elif choice == 2:
    amount = int(input())

    balance = balance + amount
    print(f'Your current balance is {balance}\n')
   elif choice == 3:

    wamt = int(input())

    if wamt < balance :
       balance = balance - wamt
       print(f'Your current balance is {balance}\n')
    else:
       print(f'You have requested to withdrawn more than your current balance\n')
   elif choice ==4:
     break;


else:
  print("Invalid Password\n")

1234
1. For check balance

2 For deposite

3 For withdawal
4 Exit
1
Your balance is 500

1. For check balance

2 For deposite

3 For withdawal
4 Exit
2
500
Your current balance is 1000

1. For check balance

2 For deposite

3 For withdawal
4 Exit
3
200
Your current balance is 800

1. For check balance

2 For deposite

3 For withdawal
4 Exit
3
1700
You have requested to withdrawn more than your current balance

1. For check balance

2 For deposite

3 For withdawal
4 Exit
4

###1. Lists

A list is a collection which is ordered and changeable. Allows duplicate members.

**Creating and Accessing Lists**

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

**Modifying Lists**

In [ ]:
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:

fruits.insert(0, "kiwi")
print(fruits)

['kiwi', 'apple', 'banana', 'cherry', 'orange']

In [ ]:

fruits.insert(1, "kiwi")
print(fruits)

['kiwi', 'kiwi', 'apple', 'banana', 'cherry', 'orange']

**Removing Items**

In [ ]:
fruits.insert(1, "kiwi")
print(fruits)

['kiwi', 'kiwi', 'apple', 'kiwi', 'cherry', 'orange']

In [ ]:
fruits.remove("kiwi")
print(fruits)

['kiwi', 'apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits.remove("banana")
print(fruits)

['kiwi', 'apple', 'cherry', 'orange']

In [ ]:
print(fruits[0:2])

['kiwi', 'apple']

**List Slicing**

In [ ]:
print(fruits[1:3])

['apple', 'kiwi']

**List Methods**

In [ ]:
numbers = [1, 2, 3, 4]
numbers.reverse()
print(numbers)

numbers.sort()
print(numbers)

[4, 3, 2, 1]
[1, 2, 3, 4]

###2. Tuples

A tuple is a collection which is ordered and unchangeable. Tuples allow duplicate members.

**Creating and Accessing Tuples**

In [ ]:
coordinates = (4, 5)
print(coordinates)

(4, 5)

**Accessing Tuple Elements**

In [ ]:
print(coordinates[0])

4

# Tuple with Multiple Data Types

In [ ]:
person = ("John", 30, "Engineer")
print(person)

('John', 30, 'Engineer')

**Nested Tuples**

In [ ]:
nested_tuple = ((1, 2,3,4,5), (3, 4),5)
print(nested_tuple[0])

(1, 2, 3, 4, 5)

**Tuple Methods**

In [ ]:
fruits_tuple = ("apple", "banana", "cherry","banana")
print(fruits_tuple.count("banana"))

2

###3. Sets

A set is a collection which is unordered and unindexed. No duplicate members.

**Creating Sets**

In [ ]:
fruits_set = {"apple", "banana", "cherry","banana"}
print(fruits_set)

{'apple', 'banana', 'cherry'}

**Adding and Removing Elements**

In [ ]:
fruits_set.add("orange")
print(fruits_set)
fruits_set.remove("banana")
print(fruits_set)

{'apple', 'orange', 'banana', 'cherry'}
{'apple', 'orange', 'cherry'}

**Set Operations**

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 & set2)  # Intersection
print(set1 | set2)  # Union
print(set1 - set2)  # Difference
print(set1 ^ set2)  # Symmetric Difference

{3}
{1, 2, 3, 4, 5}
{1, 2}
{1, 2, 4, 5}

**Set Methods**

In [ ]:
set3 = {1, 2, 3}
set3.discard(2)
print(set3)

{1, 3}

###4. Dictionaries

Dictionaries are used to store data in key-value pairs.

**Creating and Accessing Dictionaries**

In [ ]:
person = {"name": "John", "age": 30, "job": "Engineer"}
print(person)
print(person["name"])

{'name': 'John', 'age': 30, 'job': 'Engineer'}
John

User Input

In [ ]:
person = {}

person["name"] = input("Enter your name: ")
person["age"] = int(input("Enter your age: "))
person["job"] = input("Enter your job: ")

print(person)

print(person["name"])
print(person['age'])
print(person['job'])

Enter your name: p
Enter your age: 21
Enter your job: Architec, Cv
{'name': 'p', 'age': 21, 'job': 'Architec, Cv'}
p
21
Architec, Cv

Splitting by white space

In [ ]:
# Example string
text = "Hello, how are you?"

# Splitting the string into a list of words based on spaces
words = text.split()

# Output the result
print(words)

['Hello,', 'how', 'are', 'you?']

Split with custom separator

In [ ]:
# Example string with commas as separators
text = "apple,banana,orange,grape"

# Splitting the string by commas
fruits = text.split(',')

# Output the result
print(fruits)

['apple', 'banana', 'orange', 'grape']

Strip()

In [ ]:
# Example string with leading and trailing spaces
text = "   Hello,     World!   "

# Using strip() to remove the spaces
cleaned_text = text.strip()

# Output the result
print(f"Original: {text}")
print(f"Cleaned: {cleaned_text}")

Original:    Hello,     World!
Cleaned: Hello,     World!

In [ ]:
person = {}

person["name"] = input("Enter your name: ")
person["age"] = int(input("Enter your age: "))

jobs = input("Enter your jobs (comma-separated): ")
jobs.split(",")
person["jobs"] = [a.strip() for a in jobs]

Enter your name: p
Enter your age: 20
Enter your jobs (comma-separated): a, b, c

In [ ]:
print(person)

{'name': 'p', 'age': 20, 'jobs': ['a', ',', '', 'b', ',', '', 'c']}

In [ ]:

print(person["name"])
print(person['age'])
print(person['jobs'])

p
20
['a', ',', '', 'b', ',', '', 'c']

For Multiple Students

In [ ]:
student = [] # List

n = int(input("Enter the number of students: "))

for i in range(n):


  person = {}

  person["name"] = input("Enter your name: ")
  person["age"] = int(input("Enter your age: "))

  jobs = input("Enter your jobs (comma-separated): ").split(",")
  person["jobs"] = [job.strip() for job in jobs]

  student.append(person)

Enter the number of students: 2
Enter your name: p
Enter your age: 23
Enter your jobs (comma-separated): a b
Enter your name: r
Enter your age: 22
Enter your jobs (comma-separated): a , b, c

In [ ]:
print(student)

[{'name': 'p', 'age': 23, 'jobs': ['a b']}, {'name': 'r', 'age': 22, 'jobs': ['a', 'b', 'c']}]

Enumerate

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]

# Using enumerate to get both index and value
for index, fruit in enumerate(fruits):
    print(f"Index: {index}, Fruit: {fruit}")

Index: 0, Fruit: apple
Index: 1, Fruit: banana
Index: 2, Fruit: cherry
Index: 3, Fruit: date

Joining Strings with a Space

In [ ]:
words = ["Hello", "world", "this", "is", "Python"]

sentence = " ".join(words)
print(sentence)

Hello world this is Python

Joining Strings with a Comma

In [ ]:
fruits = ["apple", "banana", "cherry", "date"]
print(type(fruits))
fruit_string = ", ".join(fruits)
print(fruit_string)
type(fruit_string)

<class 'list'>
apple, banana, cherry, date

str

**Adding and Modifying Elements**

In [ ]:
person["age"] = 31
person["city"] = "New York"
print(person)

{'name': 'John', 'age': 31, 'job': 'Engineer', 'city': 'New York'}

**Looping Through Dictionaries**

In [ ]:
for key, value in person.items():
    print(f"{key}: {value}")

name: p
age: 20
jobs: ['a', ',', '', 'b', ',', '', 'c']

**Removing Items**

In [ ]:
person.pop("age")
print(person)

{'name': 'John', 'job': 'Engineer', 'city': 'New York'}

Dictionary Search

In [ ]:
person = {"name": "John", "age": 30, "job": "Engineer"}

# Check if a key exists in the dictionary
if "name" in person:
    print("Key 'name' exists in the dictionary.")
else:
    print("Key 'name' does not exist in the dictionary.")

Key 'name' exists in the dictionary.

Deletion Dictionary

In [ ]:
# Dictionary of students
students = {
    "John": {"age": 20, "courses": ["Math", "Science"]},
    "Emma": {"age": 22, "courses": ["English", "History"]},
}

# Deleting John's record
del students["John"]

# Printing the dictionary after deletion
print(students)

{'Emma': {'age': 22, 'courses': ['English', 'History']}}

Del for List

In [ ]:
# List
fruits = ["apple", "banana", "cherry", "date"]

# Delete an element by index (e.g., index 1 for "banana")
del fruits[1]

print(fruits)  # Output: ['apple', 'cherry', 'date']

['apple', 'cherry', 'date']

Deleting a Slice of a List:

In [ ]:
# List
numbers = [1, 2, 3, 4, 5]

# Delete elements from index 1 to 3 (not including index 3)
del numbers[1:3]

print(numbers)

[1, 4, 5]

In [ ]:
students = {
    "Alice": {"age": 22, "courses": {"Math", "Physics"}},
    "Bob": {"age": 24, "courses": {"Chemistry", "Biology"}}
}

# Function to delete a student
def delete_student(name):
    if name in students:
        del students[name]  # Deletes the student entry from the dictionary
        print(f"Student {name} has been deleted.")
    else:
        print(f"Student {name} not found.")

# Example of using the delete_student function
print("Before deletion:")
print(students)

delete_student("Alice")  # Deleting Alice from the dictionary

print("\nAfter deletion:")
print(students)

Before deletion:
{'Alice': {'age': 22, 'courses': {'Physics', 'Math'}}, 'Bob': {'age': 24, 'courses': {'Biology', 'Chemistry'}}}
Student Alice has been deleted.

After deletion:
{'Bob': {'age': 24, 'courses': {'Biology', 'Chemistry'}}}

###5. Loops

Loops allow you to iterate over a sequence (such as a list, tuple, or dictionary).

**For Loop**

In [ ]:
# Loop through a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
# Loop through a range
for i in range(5):
    print(i)

0
1
2
3
4

**While Loop**

In [ ]:

count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

**Nested Loops**

In [ ]:
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

**Looping Through Dictionary**

In [ ]:
# Looping through dictionary keys and values
person = {"name": "John", "age": 30, "job": "Engineer"}
for key in person:
    print(key, person[key])

name John
age 30
job Engineer

**List Comprehensions**

List comprehensions provide a concise way to create lists.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = [x**2 for x in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]